<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/Content/icon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/Content/icon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/Content/icon/manifest.json">
    <link rel="mask-icon" href="/Content/icon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/Content/icon/favicon.ico">
    <meta name="msapplication-config" content="/Content/icon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>@ViewBag.Title - Euro Space center</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Euro Space Center 🚀", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <nav class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Search", "Index", "Search")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (User.IsInRole("admin")) {
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                    }
                </ul>
                @if (User.Identity.IsAuthenticated) {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Account", "Index", "Account", null, new { @class = (ViewContext.RouteData.Values["controller"].ToString() == "Account" && ViewContext.RouteData.Values["action"].ToString() == "account" ? "active" : "") })</li>
                                <li>@Html.ActionLink("Park plans", "Index", "Plan")</li>
                                <li>@Html.ActionLink("Logout", "Logout", "Account", null, new { @class = (ViewContext.RouteData.Values["controller"].ToString() == "Login" && ViewContext.RouteData.Values["action"].ToString() == "logout" ? "active" : "") })</li>
                            </ul>
                        </li>
                    </ul>
                } else {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Login", "Login", "Account", null, new { @class = (ViewContext.RouteData.Values["controller"].ToString() == "Login" ? "active" : "") })</li>
                        <li><a href="/Account/Register">Register</a></li>
                    </ul>
                }
            </nav>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData.ContainsKey("message")) {
            <div class="alert alert-info alert-dismissable">
                @TempData["message"]
            </div>
        }
        @RenderBody()
        <hr />

        <footer class="clearfix" style="min-height: 4em; margin-bottom: 1em">
            <div class="pull-left">
                <a href="#"><img style="height: 4em" src="/Content/logo_adventureworld_color.png"></img>
            </div>
            <div class="pull-right" style="text-align: center;">
                <span>Made 😡 by <a href="https://haroen.me">Haroen</a> for Odisee | </span>
                <span>🚀 Euro Space Center | </span>
                <span><a href="/Api/Help">📑 API</a> | </span>
                <span><a href="https://github.com/Haroenv/mvc-euro-space-center"><span class="emoji">⚙</span> code</a> | </span>
                <span><a href="http://spacefun.umutsagram.ikdoeict.net">🛰 Space Fun</a> | </span>
                <span><a href="http://marspark.eliasmeire.ikdoeict.net/">🌌 Mars Park</a></span>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
