@using EuroSpaceCenter.Models
@model user

@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Account</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2" aria-hidden="true"><i class="glyphicon glyphicon-envelope"></i></span>
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control"} })
                </div>
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon" aria-hidden="true"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit info" class="btn btn-success" />
            </div>
        </div>

    </div>
}

@using (Html.BeginForm("Password", "Account")) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon" aria-hidden="true"><i class="glyphicon glyphicon-lock"></i></span>
                    @Html.PasswordFor(model => model.password, new { @class = "form-control"})
                </div>
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("password1", "repeat password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon" aria-hidden="true"><i class="glyphicon glyphicon-lock"></i></span>
                    @Html.Password("password1", null, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit password" class="btn btn-danger" />
            </div>
        </div>

    </div>
}

<section class="ratings">

    <h3>My Ratings</h3>
    <div class="row">
        @foreach (rating r in ViewBag.Ratings) {
            <div class="col-sm-1">
                <div class="thumbnail">
                    @Html.GravatarImage(r.user.email)
                </div>
            </div>
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <strong>@r.user.name</strong>
                            @Html.Time(r.datetime, "{0:d}", new { @class = "text-muted" })
                        </div>
                        <strong class="pull-right" data-rating="@r.rating1">@r.rating1 / 5</strong>
                    </div>
                    <div class="panel-body">
                        @r.message
                    </div>
                    <div class="panel-footer clearfix">
                        <strong><a href="/Detail?id=@r.item.id">@r.item.title</a></strong>
                        <a href="/Account/DeleteRating/@r.id" class="btn btn-sm btn-danger pull-right">delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

@section scripts {
    <script>
        NodeList.prototype.forEach = Array.prototype.forEach; // polyfill
        var ratings = document.querySelectorAll('[data-rating]');
        ratings.forEach(function (r) {
            r.innerText = '☄'.repeat(r.dataset.rating) + '⚪'.repeat(5 - r.dataset.rating);
            r.classList.add('emoji');
        });
    </script>
}