@model EuroSpaceCenter.Models.item

@{
    ViewBag.Title = Model.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.title</h2>
<p>@Model.description</p>
<img src="@Model.image" alt="@Model.alt"/>

@using (Html.BeginForm("Add", "Plan", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.Button("add to my plan", new { @class = "btn btn-success", id = "add" })
        <p class="help-block">Add this item to your park plan <span class="emoji">🗺</span></p>
    </div>
}