@model EuroSpaceCenter.Models.item

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container container--small">

    <h2>Create a new <span id="type">item</span></h2>

    @using (Html.BeginForm("Edit", "Detail", FormMethod.Post, new { @id = "mainform" })) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(i => i.title)
            @Html.EditorFor(i => i.title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(i => i.title, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(i => i.description)
            @Html.TextAreaFor(i => i.description, new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.description, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(i => i.image)
            @Html.EditorFor(i => i.image, new { htmlAttributes = new { @class = "form-control", inputmode = "url", placeholder = "url to the image of this item", oninput = "preview.src = this.value" } })
            @Html.ValidationMessageFor(i => i.image, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="preview">preview</label>
            <img class="img-responsive" id="preview" />
        </div>
        <div class="form-group">
            @Html.LabelFor(i => i.alt)
            @Html.EditorFor(i => i.alt, new { htmlAttributes = new { @class = "form-control", placeholder = "description of the image for non-sighted users" } })
            @Html.ValidationMessageFor(i => i.alt, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.Button("edit 📝", new { @class = "btn btn-primary" })
        </div>
    }


    @using (Html.BeginForm("Update", "Admin", FormMethod.Post, new { id = "extraform" })) {
        @Html.AntiForgeryToken()
        <h3>Add extra info</h3>
        <div class="form-group">
            <label for="category">category</label>
            <select id="category" name="category" class="form-control">
                <option value="null">-- pick a category --</option>
                <option value="attraction">Attraction</option>
                <option value="show">Show</option>
                <option value="restaurant">Restaurant</option>
            </select>
        </div>
        <fieldset disabled id="extra" class="form-group"></fieldset>
        <div class="form-group">
            @Html.Button("add ✔️", new { @class = "btn btn-primary" })
        </div>
    }
</div>

@section scripts {
    <script>
        function loadExtra(category) {
            $('#extraform').attr('action', '/Admin/' + category + '?id=@Model.id');
            $("#extra").load(
                "@Url.Action("Extra","Admin")",
                { 'category': category },
                function (response, status, xhr) {
                    if (status == "error") {
                        alert("An error occurred while loading the results.");
                    } else {
                        $('#extra').removeAttr('disabled');
                    }
                });
        }

        $(document).ready(function () {
            $("#category").on("input", function (e) {
                loadExtra(e.target.value);
            });
            if ("@ViewBag.category".length > 0) {
                loadExtra("@ViewBag.category");
                $("#category").val("@ViewBag.category");
            }
        });
    </script>
}