@using EuroSpaceCenter.Models
@model item

@{
    ViewBag.Title = Model.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>
    @Model.title
    @if (ViewBag.PropModel != null) {
        <span class="label label-info">@ViewBag.PropModel.GetType().Name</span>
    }
    @if (ViewBag.Score != double.NaN) {
        <span data-rating="@Math.Ceiling(ViewBag.Score)">@Math.Ceiling(ViewBag.Score) / 5</span>
    }
    @if (User.IsInRole("admin")) {
        @Html.ActionLink("Edit", "Edit", new { id = @Model.id }, new { @class = "btn btn-success" })
    }
</h2>

<div class="row">
    <div class="col-md-5">
        <img src="@Model.image" alt="@Model.alt" class="img-responsive img-rounded" />
    </div>
    <div class="col-md-7">
        <section class="panel panel-default" id="description">
            <div class="panel-heading">
                <h4>Description</h4>
            </div>
            <p class="panel-body">@Model.description</p>
        </section>
        @if (ViewBag.Properties != null) {
            <section class="panel panel-default" id="details">
                <div class="panel-heading">
                    <h4>Details</h4>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        @foreach (var property in ViewBag.Properties) {
                            <dt>@property.Name</dt>
                            //doesn't work because the type isn't sure on beforehand 😞
                            @*<dt>@property.GetCustomAttribute<DisplayAttribute>().GetName()</dt>*@
                            <dd>@property.GetValue(ViewBag.PropModel, null)</dd>
                        }
                    </dl>
                </div>
            </section>
        }
        @if (User.Identity.IsAuthenticated) {
            using (Html.BeginForm("Add", "Plan", FormMethod.Post, new { id = "addToPlan" })) {
                @Html.AntiForgeryToken()
                <input type="hidden" name="items_id" value="@ViewBag.ID" />
                <label for="id">Add this item to your <a href="/Plan">park plan <span class="emoji">🗺</span></a></label>
                <div class="input-group">
                    <select name="id" id="id" class="form-control">
                        @foreach (parkplan plan in ViewBag.Parkplans) {
                            <option value="@plan.id">@plan.name</option>
                        }
                    </select>
                    <div class="input-group-btn">
                        @Html.Button("Add", new { @class = "btn btn-success", id = "add", title = "yay 🎉" })
                    </div>
                </div>
            }
        }
    </div>
</div>

@if (User.Identity.IsAuthenticated) {

    @Html.Partial("Review", (rating)ViewBag.Rating)
}


<section id="ratings">
    <h3>Reviews</h3>
    <div class="row">
        @foreach (rating r in ViewBag.Ratings) {
            <div class="col-sm-1">
                <div class="thumbnail">
                    @Html.GravatarImage(r.user.email)
                </div>
            </div>
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <strong>@r.user.name</strong>
                            @Html.Time(r.datetime, "{0:d}", new { @class = "text-muted" })
                        </div>
                        <strong class="pull-right" data-rating="@r.rating1">@r.rating1 / 5</strong>
                    </div>
                    <div class="panel-body">
                        @r.message
                    </div>
                </div>
            </div>
        }
    </div>
</section>

@section scripts {
    <script>
        NodeList.prototype.forEach = Array.prototype.forEach; // polyfill
        var ratings = document.querySelectorAll('[data-rating]');
        ratings.forEach(function (r) {
            r.innerText = '☄'.repeat(r.dataset.rating) + '⚪'.repeat(5 - r.dataset.rating);
            r.classList.add('emoji');
        });

        $('#addToPlan').on('submit', function (e) {
            e.preventDefault();
            $(this).find('[name="id"]').val();
            $.ajax({
                method: 'POST',
                url: '/Plan/Add/' + $(this).find('[name="id"]').val() + '?item_id=@Model.id',
                success: function () {
                    $(e.target).find('button').tooltip({ placement: 'bottom', trigger: 'manual' }).tooltip('show');
                }
            })
        });
    </script>
}