@using EuroSpaceCenter.Models
@model item

@{
    ViewBag.Title = Model.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container container--small">
    <h2>
        @Model.title
        @if (ViewBag.PropModel != null) {
            <span class="label label-info">@ViewBag.PropModel.GetType().Name</span>
        }
        @if (ViewBag.Score != double.NaN) {
            <span data-rating="@Math.Ceiling(ViewBag.Score)">@Math.Ceiling(ViewBag.Score) / 5</span>
        }
    </h2>
    @if (User.IsInRole("admin")) {
        @Html.ActionLink("Edit", "Edit", new { id = @Model.id }, new { @class = "btn btn-success" })
    }
    <p>@Model.description</p>
    <img src="@Model.image" alt="@Model.alt" />
    @if (ViewBag.Properties != null) {
        <dl class="dl-horizontal">
            @foreach (var property in ViewBag.Properties) {
                <dt>@property.Name</dt>
                //doesn't work because the type isn't sure on beforehand 😞
                @*<dt>@property.GetCustomAttribute<DisplayAttribute>().GetName()</dt>*@
                <dd>@property.GetValue(ViewBag.PropModel, null)</dd>
            }
        </dl>
    }

    @if (User.Identity.IsAuthenticated) {
        using (Html.BeginForm("Add", "Plan", FormMethod.Post, new { id = "addToPlan" })) {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="hidden" name="item_id" value="@ViewBag.id" />
                <select name="id">
                    @foreach (parkplan plan in ViewBag.Parkplans) {
                        <option value="@plan.id">@plan.name</option>
                    }
                </select>
                @Html.Button("add to my plan", new { @class = "btn btn-success", id = "add" })
                <p class="help-block">Add this item to your <a href="/Plan">park plan <span class="emoji">🗺</span></a></p>
            </div>
        }
    }

    @if (User.Identity.IsAuthenticated) {

        @Html.Partial("Review", (rating)ViewBag.Rating)
    }
</div>

<section id="ratings">
    <h3>Ratings</h3>
    <div class="row">
        @foreach (rating r in ViewBag.Ratings) {
            <div class="col-sm-1">
                <div class="thumbnail">
                    @Html.GravatarImage(r.user.email)
                </div>
            </div>
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <strong>@r.user.name</strong>
                            @Html.Time(r.datetime, "{0:d}", new { @class = "text-muted" })
                        </div>
                        <strong class="pull-right" data-rating="@r.rating1">@r.rating1 / 5</strong>
                    </div>
                    <div class="panel-body">
                        @r.message
                    </div>
                </div>
            </div>
        }
    </div>
</section>

@section scripts {
    <script>
        NodeList.prototype.forEach = Array.prototype.forEach; // polyfill
        var ratings = document.querySelectorAll('[data-rating]');
        ratings.forEach(function (r) {
            r.innerText = '☄'.repeat(r.dataset.rating) + '⚪'.repeat(5 - r.dataset.rating);
            r.classList.add('emoji');
        });

        $('#addToPlan').on('submit', function (e) {
            e.preventDefault();
            $(this).find('[name="id"]').val();
            debugger;
            $.ajax({
                method: 'POST',
                url: '/Plan/Add/' + $(this).find('[name="id"]').val() + '?item_id=@Model.id',
                success: function () {

                }
            })
        });
    </script>
}