@using EuroSpaceCenter.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">
    <label for="search">Search</label>
    <input type="search" id="search" class="form-control" />
</div>

<div class="isotope">
    <div class="grid-sizer col-xs-6 col-sm-4 col-md-3"></div>
    @foreach (item i in ViewBag.Items) {
        <a class="col-xs-6 col-sm-4 col-md-3 blocklink item" href="/Detail?id=@i.id">
            <article class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h2 class="panel-title pull-left">@i.title</h2>
                    @if (User.IsInRole("admin")) {
                        using (Html.BeginForm("Delete", "Admin", FormMethod.Post, new { @class = "deleteform", onsubmit = $"return confirm('Are you sure you want to delete \"{@i.title}\"?')" })) {
                            <input type="hidden" name="id" value="@i.id" />
                            @Html.Button("❌", new { @class = "btn btn-danger pull-right" });
                        }
                    }
                </div>
                <div class="panel-image">
                    <img src="@i.image" alt="@i.alt" />
                </div>
                <div class="panel-body text-center">
                    <p>@i.description</p>
                </div>
            </article>
        </a>
    }
</div>


@section scripts {
    @* loaded over CDN, thus better than downloading it here *@
    <script src="https://unpkg.com/isotope-layout@3.0.1/dist/isotope.pkgd.min.js"></script>
    <script>
        var $grid = $('.isotope').isotope({
            itemSelector: ".item",
            percentPosition: true,
            masonry: {
                columnWidth: ".grid-sizer"
            },
            filter: function () {
                return qsRegex ? $(this).text().match(qsRegex) : true;
            }
        });

        var qsRegex;

        // use value of search field to filter
        var $quicksearch = $('input[type=search]').on('input', function () {
            qsRegex = new RegExp($quicksearch.val(), 'gi');
            $grid.isotope();
        });

        $(window).on("load", function () {
            $(".isotope").isotope('layout');
        });
    </script>
}