@using EuroSpaceCenter.Models
@using EuroSpaceCenter.util

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="form-group col-sm-10">
        <label for="search">Search</label>
        <input type="search" id="search" class="form-control" />
        @* also possible frontend, but I won't do that because that isn't linq *@

    </div>
    <div class="form-group col-sm-2">
        <label for="category">category</label>
        <select class="form-control" id="category">
            <option value="all">all</option>
            <option value="attractions">experience</option>
            <option value="shows">show</option>
            <option value="restaurants">restaurant</option>
        </select>
    </div>
</div>

<div class="isotope" style="visibility: hidden; opacity: 0; transition: opacity ease .2s;">
    <div class="grid-sizer col-xs-6 col-sm-4 col-md-3"></div>
    @foreach (item i in ViewBag.Items) {
        <a class="col-xs-6 col-sm-4 col-md-3 blocklink item" href="/Detail?id=@i.id">
            <article class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h2 class="panel-title pull-left">@i.title</h2>
                    @if (User.IsInRole("admin")) {
                        using (Html.BeginForm("Delete", "Admin", FormMethod.Post, new { @class = "deleteform", onsubmit = $"return confirm('Are you sure you want to delete \"{@i.title}\"?')" })) {
                            <input type="hidden" name="id" value="@i.id" />
                            @Html.Button("<i class='glyphicon glyphicon-remove'></i>", new { @class = "btn btn-xs btn-danger pull-right" });
                        }
                    }
                </div>
                <div class="panel-image">
                    <img src="@i.image" alt="@i.alt" />
                </div>
                <div class="panel-body text-center">
                    <p>@i.description.Truncate(145)</p>
                </div>
            </article>
        </a>
    }
</div>


@section scripts {
    @* loaded over CDN, thus better than downloading it here *@
    <script src="https://unpkg.com/object-fit-images@2.5.9/dist/ofi.browser.js"></script>
    <script src="https://unpkg.com/isotope-layout@3.0.1/dist/isotope.pkgd.min.js"></script>
    <script>

        var $grid = $('.isotope').isotope({
            itemSelector: ".item",
            percentPosition: true,
            masonry: {
                columnWidth: ".grid-sizer"
            },
            filter: function () {
                return qsRegex ? $(this).text().match(qsRegex) : true;
            }
        });

        $grid.css({
            visibility: 'visible',
            opacity: 1
        });

        var qsRegex;
        var apiNotCalled = true;

        function appendToGrid(item) {
            var elem = $("<a class='col-xs-6 col-sm-4 col-md-3 blocklink item' href='" + item.url + "'> <article class='panel panel-info'> <div class='panel-heading clearfix'> <h2 class='panel-title pull-left'>" + item.title + "</h2><span class='pull-right label label-success'>" + item.park + "</span></div><div class='panel-image'> <img src='" + item.image + "' alt='" + item.alt + "'> </div><div class='panel-body text-center'> <p>" + item.description.replace(/^(.{145}).+/, "$1…") + "</p></div></article></a>");
            $grid.append(elem)
              .isotope('appended', elem)
              .isotope('layout');
        }

        // use value of search field to filter
        var $quicksearch = $('input[type=search]').on('input', function () {
            qsRegex = new RegExp($quicksearch.val(), 'gi');
            $grid.isotope();
            if ($grid.data('isotope').filteredItems.length < 6 && apiNotCalled) {
                apiNotCalled = false;
                $.ajax({
                    url: 'http://spacefun.umutsaglam.ikdoeict.net/api/' + ('@ViewBag.Cat'.length > 0 ? '@ViewBag.Cat' : 'items') ,
                    success: function (res) {
                        res.forEach(function (item) {
                            item.park = 'spacefun';
                            appendToGrid(item);
                        })
                    }
                });
                $.ajax({
                    url: 'http://marspark.eliasmeire.ikdoeict.net/api/' + ('@ViewBag.Cat'.length > 0 ? '@ViewBag.Cat' : 'items'),
                    success: function (res) {
                        res.forEach(function (item) {
                            item.park = 'marspark';
                            appendToGrid(item);
                        })
                    }
                });
            }
        });

        $(window).on("load", function () {
            $(".isotope").isotope('layout');
        });

        $(function () { objectFitImages() });

        if ('@ViewBag.Cat'.length > 0) {
            $('#category').val('@ViewBag.Cat');
        }

        $('#category').on('input', function () {
            window.location.href = '/Search?cat=' + $(this).val();
        })
    </script>
}