@using EuroSpaceCenter.Models
@model parkplan

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>

<div>
    <h4>info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<ul>
    @foreach (user i in ViewBag.Users) {
        <li>
            @if (i.name != "") {
                @i.name
            } else {
                @i.email
            }
        </li>
    }
</ul>

<form action="/Plan/Invite/@Model.id" method="post" class="form-inline">
    <div class="form-group">
        <label for="email">Invite</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="their@email.com" />
    </div>
    <div class="form-group">
        <button class="btn btn-default">Invite</button>
    </div>
    @Html.AntiForgeryToken()
</form>
<hr />

@using (Html.BeginForm("Add", "Plan", FormMethod.Post, new { @class = "form-inline", id = "addform" })) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.id)
    <div class="form-group">
        <label>Item</label>
        <select class="form-control" name="item_id" id="item_id">
            <option selected disabled value="0">-- select something to do --</option>
            @foreach (item i in ViewBag.Items) {
                <option value="@i.id">@i.title</option>
            }
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-default">Add</button>
    </div>
}

<ul class="list-group">@foreach (parkplans_has_item i in ViewBag.PlanItems) {
    <li class="list-group-item">
        <a href="/Detail?id=@i.item.id">@i.item.title</a>
        <span class="btn btn-danger label btn-sm pull-right" data-id="@i.id"><i class="glyphicon glyphicon-remove"></i></span>
    </li>
}</ul>

<style>
    .list-group:empty:after {
        content: 'There are no items on this plan'
    }
</style>

@section scripts {
    <script>
        function remove(el) {
            if (confirm('Deleting this will delete this plan for everyone. Are you sure?')) {
                $(el).closest('.list-group-item').fadeOut(300, function () { $(this).remove(); });
                $.ajax({
                    method: 'POST',
                    url: '/Plan/Remove/' + @Model.id + '?plan_has_item=' + el.dataset.id,
                });
            }
        }

        $('#addform').on('submit', function (e) {
            e.preventDefault();
            var $sel = $(this).find("option:selected");
            var $item = $('<li class="list-group-item"><a href="/Detail?id=' + $sel.val() + '">' + $sel.text() + '</a></li>');
            $('.list-group').append($item);
            $.ajax({
                method: 'POST',
                url: '/Plan/Add/' + @Model.id + '?item_id=' + $sel.val(),
                success: function (res) {
                    $item.append('<span class="btn btn-danger label btn-sm pull-right" data-id="' + res.id + '" onclick="remove(this);"><i class="glyphicon glypicon-remove"></i></span>');
                }
            })
        });

        $('[data-id]').each(function (i, el) {
            $(el).on('click', function (e) {
                e.preventDefault();
                remove(el);
            })
        })
    </script>
}