@model EuroSpaceCenter.Models.parkplan

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>

<div>
    <h4>info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<form action="/Plan/Invite/@Model.id" method="post" class="form-inline">
    <div class="form-group">
        <label for="recipient">Invite</label>
        <input type="email" name="recipient" id="recipient" class="form-control" placeholder="their@email.com"/>
    </div>
   <div class="form-group">
       <button class="btn btn-default">Invite</button>
   </div>
</form>
<hr />
