@using EuroSpaceCenter.Models
@using System.Linq
@model parkplan

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>

<div>
    <h4>info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<ul>
    @foreach (user i in ViewBag.Users) {
        <li>
            @i.name
        </li>
    }
</ul>

<form action="/Plan/Invite/@Model.id" method="post" class="form-inline">
    <div class="form-group">
        <label for="email">Invite</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="their@email.com" />
    </div>
    <div class="form-group">
        <button class="btn btn-default">Invite</button>
    </div>
    @Html.AntiForgeryToken()
</form>
<hr />

<ul class="list-group">
    @foreach (item i in ViewBag.Items) {
        <li class="list-group-item">
            @i.title
            <span class="btn btn-danger label btn-sm pull-right" data-id="@i.id">❌</span>
        </li>
    }
</ul>

@section scripts {
    <script>
        function remove(id) {
            $.ajax({
                method: 'POST',
                url: '/Plan/Remove/' + @Model.id + '?item_id=' + id,
            });
        }

        $('[data-id]').each(function (i, el) {
            $(el).on('click', function (e) {
                e.preventDefault();
                if (confirm('Deleting this will delete this plan for everyone. Are you sure?')) {
                    remove(el.dataset.id);
                    $(el).closest('.list-group-item').fadeOut(300, function () { $(this).remove(); });
                }
            })
        })
    </script>
}